@import 'tailwindcss';

* {
  font-family: var(--font-geist-sans);
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-bg-gradient: radial-gradient(
    120% 100% at 30% 20%,
    #2c2c2c 0%,
    #1a1a1a 45%,
    #0a0a0a 100%
  );

  --color-text: #f0f0f0;
  --color-border-muted: #a3a3a3;

  --color-border: #2a2a2a;

  --color-card-bg: #252525;
}

/* ======================
   Global layout
   ====================== */
body {
  min-height: 100vh;
  background: var(--color-bg-gradient);
  color: var(--color-text);
}
