@import 'tailwindcss';

* {
  font-family: var(--font-geist-sans);
}

html {
  scroll-behavior: smooth;
}

.white__gradient {
  background: radial-gradient(circle, #979797 0%, rgba(255, 255, 255, 0) 65%);
  filter: blur(140px);
  mix-blend-mode: screen;
}

.card {
  color: #3d3d3d;
}

@theme {
  --color-bg-gradient: radial-gradient(
    120% 100% at 30% 20%,
    #2c2c2c 0%,
    #1a1a1a 45%,
    #0a0a0a 100%
  );

  --color-text: #f0f0f0;
  --color-border-muted: #a3a3a3;

  --color-border: #2a2a2a;

  --color-card-bg: #252525;

  --color-card-bg-hover: #3d3d3d;
}

/* ======================
   Global layout
   ====================== */
body {
  min-height: 100vh;
  background: var(--color-bg-gradient);
  color: var(--color-text);
}
